<div class="min-h-screen bg-gradient-to-br from-indigo-50 via-purple-50 to-pink-50 p-6">
  <div class="w-full mx-auto">
    <school-page-title title="Teachers" subTitle="Manage faculty members and their information" />

    <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-6">
      <school-stats-card [loading]="loadingStats()" title="Total Teachers" [value]="teacherStats().total_teachers" icon="pi pi-user text-indigo-600"
        rootClassName="border-indigo-500" iconWrapperClassName="bg-indigo-100" />

      <school-stats-card [loading]="loadingStats()" title="Avg. Experience" [value]="teacherStats().avg_experience + ' yrs'" icon="pi pi-briefcase text-purple-600"
        rootClassName="border-purple-500" iconWrapperClassName="bg-purple-100 " />

      <school-stats-card [loading]="loadingStats()" title="Total Students" [value]="teacherStats().total_students" icon="pi pi-users text-pink-600"
        rootClassName="border-pink-500" iconWrapperClassName="bg-pink-100" />

      <school-stats-card [loading]="loadingStats()" title="Avg. Rating" [value]="teacherStats().avg_rating" icon="pi pi-star-fill !text-amber-600"
        rootClassName="!border-amber-500" iconWrapperClassName="!bg-amber-100" />
    </div>

    <div class="bg-white rounded-xl shadow-sm p-6 mb-6">
      <div class="flex flex-col md:flex-row gap-4" [formGroup]="filterFormGroup">
        <school-text-input icon="pi pi-search" formControlName="search" placeholder="Search teachers by name or subject..."
           />
        <school-select-input [options]="departments" formControlName="department_id" />

        <div class="flex gap-2">
          <p-button label="Grid" [outlined]="viewMode() !== VIEW_MODE.GRID" (onClick)="viewMode.set(VIEW_MODE.GRID)"
            styleClass="p-button-sm">
          </p-button>
          <p-button label="List" [outlined]="viewMode() !== VIEW_MODE.LIST" (onClick)="viewMode.set(VIEW_MODE.LIST)"
            styleClass="p-button-sm">
          </p-button>
        </div>

        <p-button label="Add Teacher" icon="pi pi-plus" (onClick)="upsertTeacher()" styleClass="p-button-sm">
        </p-button>
      </div>
    </div>

    @if (viewMode() === VIEW_MODE.GRID) {
      <school-teacher-grid-view-list [loading]="loading()"
                                     [teachers]="teachers()"
                                     (deleteEmitEvent)="deleteTeacher($event)"
                                     (viewDetailEmitEvent)="viewProfile($event)"/>
    } @else {
      <school-teacher-table-view-list [teacherList]="teachers()"
                                      (deleteEmitEvent)="deleteTeacher($event)"
                                      (viewDetailEmitEvent)="viewProfile($event)"/>
    }

     @if (teachersMeta().total > teachersMeta().per_page) {
      <div class="mt-2">
      <p-paginator (onPageChange)="onPageChange($event)"
                 [first]="0" [rows]="teachersMeta().per_page"
                 [totalRecords]="teachersMeta().total"
                />
     </div>
    }

    @if (!loading() && teachersMeta().total === 0) {
    <school-empty-list title="No teachers found" />
    }
  </div>
</div>
