/* You can add global styles to this file, and also import other style files */
@use "primeicons/primeicons.css";

@use 'tailwindcss';

/* whatever class you add to enable dark mode */
html.dark, body.dark, .p-theme-dark {
  --my-surface-card: #1f2937;
  --my-text-color: #f7f7f7;
}

body {
  height: 100vh;
}
