<div class="min-h-screen bg-gradient-to-br from-amber-50 via-orange-50 to-yellow-50 p-6">
  <div class="w-full mx-auto">
     <school-page-title title="Rooms & Facilities" subTitle="Manage classroom and facility allocations"/>

    <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-6">
      <school-stats-card title="Total Rooms"
                        [value]="roomStats().total_rooms"
                        [loading]="loadingRoomStats()"
                        rootClassName="border-amber-500"
                        icon="pi pi-building text-amber-600"
                        iconWrapperClassName="bg-amber-100"
     />

     <school-stats-card title="Available"
                        [value]="roomStats().available_rooms"
                        [loading]="loadingRoomStats()"
                        rootClassName="border-green-500"
                        icon="pi pi-check-circle text-green-600 "
                        iconWrapperClassName="bg-green-100"
     />

     <school-stats-card title="Total Capacity"
                        [value]="roomStats().total_capacity"
                        [loading]="loadingRoomStats()"
                        rootClassName="border-blue-500"
                        icon="pi pi-users text-blue-600"
                        iconWrapperClassName="bg-blue-100"
     />

     <school-stats-card title="Avg. Occupancy"
                        [value]="roomStats().avg_occupancy"
                        [loading]="loadingRoomStats()"
                        rootClassName="border-orange-500"
                        icon="pi pi-chart-line text-orange-600"
                        iconWrapperClassName="bg-orange-100"
     />
    </div>

     <div class="bg-white rounded-xl shadow-sm p-6 mb-6">
      <div class="flex flex-col md:flex-row gap-4" [formGroup]="filterFormGroup">
          <school-text-input icon="pi pi-search" formControlName="search" placeholder="Search by room name, code, or building..."/>
          <school-select-input formControlName="room_type_id" [options]="roomTypeOptions()" [loading]="loadingOptions()"/>

        <div class="flex gap-2">
          <school-select-input formControlName="status" [options]="statuses"/>

          <p-button
            label="Grid"
            [outlined]="viewMode() !== VIEW_MODE.GRID"
            (onClick)="viewMode.set(VIEW_MODE.GRID)"
            styleClass="p-button-sm">
          </p-button>
          <p-button
            label="List"
            [disabled]="loading()"
            [outlined]="viewMode() !== VIEW_MODE.LIST"
            (onClick)="viewMode.set(VIEW_MODE.LIST)"
            styleClass="p-button-sm">
          </p-button>
        </div>

        <p-button
          label="Add Room"
          icon="pi pi-plus"
          [disabled]="loading()"
          (onClick)="upsertRoom()"
          styleClass="p-button-sm">
        </p-button>
      </div>
    </div>

    @if (viewMode() === VIEW_MODE.GRID) {
      <school-rooms-grid-view-list [loading]="loading()"
                                   [rooms]="rooms()"
                                   (editEmitEvent)="upsertRoom($event)"
                                   (deleteEmitEvent)="deleteRoom($event)"/>
    } @else {
      <school-rooms-table-view-list [rooms]="rooms()"
                                    (editEmitEvent)="upsertRoom($event)"
                                    (deleteEmitEvent)="deleteRoom($event)"/>
    }

    @if (rooms().length === 0) {
      <school-empty-list title="No rooms found"/>
    }

    <div class="mt-2">
      <p-paginator (onPageChange)="onPageChange($event)"
                 [first]="0" [rows]="10"
                 [totalRecords]="120"
                />
    </div>
  </div>
</div>
