<div class="min-h-screen bg-gradient-to-br from-indigo-50 via-purple-50 to-pink-50 p-6">
  <div class="w-full mx-auto">
    <school-teacher-view-detail-header [teacher]="teacher" [loading]="loading()"/>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
      <p-tab [(value)]="activeIndex">
        <p-tabPanel header="Overview" leftIcon="pi pi-home" >
             <school-overview [teacher]="teacher" [performanceChartData]="performanceChartData" [loading]="loading()"
          [performanceChartOptions]="performanceChartOptions" />
        </p-tabPanel>

        <p-tabPanel header="Classes" leftIcon="pi pi-book" [disabled]="loading()">
          <school-classes [classes]="classes" />
        </p-tabPanel>

        <p-tabPanel header="Schedule" leftIcon="pi pi-calendar" [disabled]="loading()">
           <school-schedule [weekSchedule]="weekSchedule" />
        </p-tabPanel>

        <p-tabPanel header="Students" leftIcon="pi pi-history" [disabled]="loading()">
          <school-students [topStudents]="topStudents" [studentProgressChartData]="studentProgressChartData"
          [studentProgressChartOptions]="studentProgressChartOptions" />
        </p-tabPanel>

        <p-tabPanel header="Activity" leftIcon="pi pi-history" [disabled]="loading()">
          <school-activity [activityLogs]="activityLogs" />
        </p-tabPanel>
      </p-tab>

      <!-- Sidebar -->
      <div class="space-y-6">
         <school-employment [teacher]="teacher" [loading]="loading()"/>
         <school-subjects [teacher]="teacher" [loading]="loading()"/>
         <school-quick-actions />
      </div>
    </div>
  </div>
</div>
