<div [formGroup]="form()">
  <label class="text-sm font-medium text-gray-700" [attr.for]="question().key">
    {{ question().label }} @if(question().required) {<span class="text-red-500">*</span>}
  </label>
  <div>
    @switch (question().controlType) {
      @case (QuestionTypeEnum.TextInput) {
         @if (question().type === QuestionFieldTypeEnum.Number) {
          <school-number-input [formControlName]="question().key"
                                  [id]="question().key"
                                  [required]="question().required"
                                  [placeholder]="question().placeholder"/>
         } @else if(question().type === QuestionFieldTypeEnum.Password) {
           <school-password-input [formControlName]="question().key"
                                  [id]="question().key"
                                  [required]="question().required"
                                  [placeholder]="question().placeholder"
           />
         } @else {
          <school-text-input [formControlName]="question().key"
                           [id]="question().key"
                           [required]="question().required"
                           [placeholder]="question().placeholder"/>
         }
      }
      @case (QuestionTypeEnum.SelectInput) {
        <school-select-input [options]="$any(question()).options"
                             [formControlName]="question().key"
                             [required]="question().required"
                             [optionLabel]="$any(question()).optionLabel"
                             [optionValue]="$any(question()).optionValue"
                             [optionType]="$any(question()).optionType"
                             [asyncOptionType]="$any(question()).asyncOptionType"
                             [placeholder]="question().placeholder"
                             [normalizeValue]="$any(question()).normalizeValue"
                             />
      }
      @case (QuestionTypeEnum.MultiSelect) {
        <school-multi-select [options]="$any(question()).options"
                             [formControlName]="question().key"
                             [optionLabel]="$any(question()).optionLabel"
                             [optionValue]="$any(question()).optionValue"
                             [normalizeValue]="$any(question()).normalizeValue"
                             [optionType]="$any(question()).optionType"
                             [asyncOptionType]="$any(question()).asyncOptionType"
                             [required]="question().required"
                             [placeholder]="question().placeholder"/>
      }
      @case (QuestionTypeEnum.DatePicker) {
        <school-datepicker [formControlName]="question().key"
                           [required]="question().required"
                           [view]="$any(question()).view"
                           />
      }
      @case (QuestionTypeEnum.TextArea) {
        <school-textarea-input [formControlName]="question().key"
                               [required]="question().required"/>
      }
      @case (QuestionTypeEnum.TimePicker) {
        <school-time-picker [formControlName]="question().key"
                            [required]="question().required"
                            [hourFormat]="$any(question()).hourFormat"
                            />
      }
    }
  </div>
</div>
