<div class="flex min-h-screen items-center justify-center dark:bg-gray-900 px-4">
  <div class="w-full max-w-md bg-white dark:bg-gray-800 shadow-lg rounded-xl overflow-hidden">
    <div class="flex flex-col items-center py-8 bg-blue-600 dark:bg-blue-500">
      <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="..." fill="#ffffff" />
      </svg>
      <h1 class="text-white font-bold text-2xl mt-4">SchoolSys</h1>
      <p class="text-blue-100 mt-2 text-sm">School Management System</p>
    </div>

    <div class="p-8 space-y-4" [formGroup]="formGroup">
      <school-text-input formControlName="username" label="Username" [required]="true"/>
      <school-password-input formControlName="password" label="Password" [required]="true"/>

      <button pButton label="Login" (click)="login()" [disabled]="formGroup.invalid" [loading]="loading()"
        class="w-full bg-blue-600 hover:bg-blue-700 dark:bg-blue-500 dark:hover:bg-blue-600 text-white font-semibold mt-8 py-2 rounded-lg"></button>
    </div>

    <div class="p-6 bg-blue-50 dark:bg-gray-900 text-center">
      <p class="text-gray-600 dark:text-gray-300 text-sm">
        © 2025 SchoolSys. All rights reserved.
      </p>
    </div>
  </div>
</div>
