<div class="flex flex-col gap-1">
  @if(label()) {
  <label class="text-sm font-medium text-gray-700">{{ label() }}</label>
  }
  <span class="w-full" [ngClass]="{'p-input-icon-left': icon()}">
    @if (icon()) {
    <i class="pi pi-search" [ngClass]="{'absolute top-[12px]': icon()}"></i>
    }
    <p-password id="password"
                [feedback]="false"
                showClear="true"
                (input)="handleInput($event)"
                [ngClass]="{'!pl-[40px]': icon(), 'ng-invalid ng-dirty': required() && !value}"
                [placeholder]="placeholder()"
                [disabled]="disabled"
                class=" w-full" />
   </span>
</div>
