<div class="flex flex-col gap-1">
  @if (label()) {
    <label class="text-sm font-medium text-gray-700">{{ label() }}</label>
  }
  <p-datepicker [iconDisplay]="'input'"
                [ngClass]="{'ng-invalid ng-dirty': required() && !value}"
                [showIcon]="true"
                [view]="view()"
                [ngModel]="value"
                [dateFormat]="view() === 'year' ? 'yy' : view() === 'month' ? 'mm' : 'dd-mm-yy'"
                (onSelect)="handleChange($event)"
                appendTo="body"
                inputId="icondisplay" />
</div>

